<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Information</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="styles/accountInfoStyles.css" rel="stylesheet">
</head>
<body>
<video autoplay muted loop id="mobileHomeVideo">
    <source src="video/bubblingBeer.mp4" type="video/mp4">
</video>

<!-- div containing main menu -->
<div id="loggedInDiv" class="container">
    <div class="col-sm-12" id="logoutButton">
        <a href="homepage">Home</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/328/finalProject">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1>Account Information</h1>
        </div>
    </div>

    <!-- table or row of data will go here -->












</div>
</body>
</html>