<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Online Bartender</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="styles/homeStyles.css" rel="stylesheet">
</head>
<body>
    <video autoplay muted loop id="homeVideo">
        <source src="video/homeVideo.mp4" type="video/mp4">
    </video>
    <video autoplay muted loop id="mobileHomeVideo">
        <source src="video/bubblingBeer.mp4" type="video/mp4">
    </video>

    <!-- div containing sign up -->
    <div id="logIn">
        <h1 id="homeHeaderStyles">Online Bartender</h1><br>
        <form action="homepage" method="post">
            <label>Username:
                <input type="text" id="username"><br><br>
            </label><br>
            <label>Password:
                <input type="text" id="password"><br><br>
            </label>
            <div id="buttonStyles">
                <button id="submitLogIn" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <a href="signup" id="linkStyles">Sign up</a><br>
            <a href="adminLogin">Login as Admin</a>
        </form>
    </div>

</body>
</html>