<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Bartender</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../styles/logInStyles.css" rel="stylesheet">
</head>
<body>
    <video autoplay muted loop id="mobileHomeVideo">
        <source src="../video/bubblingBeer.mp4" type="video/mp4">
    </video>

    <!-- div containing main menu -->
    <div id="loggedInDiv">
        <img src="../images/homePageImg.jpg"><br><br>

        <!-- Order a Drink tab -->
        <div class="menuItem" id="orderDrink">
            <h3>Order a Drink</h3>
        </div><br><br>

        <!-- View tab -->
        <div class="menuItem" id="viewTab">
            <h3>View Tab</h3>
        </div><br><br>

        <!-- Pay tab -->
        <div class="menuItem" id="payTab">
            <h3>Pay Tab</h3>
        </div>





    </div>
</body>
</html>