<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="styles/orderBeerStyles.css" rel="stylesheet">
</head>
<body>
<video autoplay muted loop id="mobileHomeVideo">
    <source src="video/bubblingBeer.mp4" type="video/mp4">
</video>

<!-- div containing main menu -->
<div id="loggedInDiv" class="container">
    <div class="col-sm-12" id="logoutButton">
        <a href="homepage">Home</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/328/finalProject">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <img src="images/homePageImg.jpg"><br><br>
        </div>
    </div>

    <div class="row menu">
        <div class="col-sm-6" id="beerOptions">
            <h3 class="orderMenuOption">Order a Beer</h3>
            <span class="menuOption">-Pilsner</span>
            <select name="pilsner" id="orderPilsner">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-Lager</span>
            <select name="lager" id="orderLager">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-IPA</span>
            <select name="ipa" id="orderIPA">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-Porter</span>
            <select name="porter" id="orderPorter">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-Stout</span>
            <select name="stout" id="orderStout">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
        </div>
        <div class="col-sm-6" id="mdOptions">
            <h3 class="orderMenuOption">Order a Mix Drink</h3>
            <span class="menuOption">-Jagerbomb</span>
            <select name="jb" id="orderJB">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-Long Island Ice Tea</span>
            <select name="liit" id="liit">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-MaiTai</span>
            <select name="maitai" id="maitai">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-Martini</span>
            <select name="martini" id="martini">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
            <span class="menuOption">-Rum and Coke</span>
            <select name="rac" id="rac">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-warning">Submit Order</button>
        </div>
    </div>










</div>
</body>
</html>