<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../styles/signUpStyles.css" rel="stylesheet">
</head>
<body>
    <video autoplay muted loop id="mobileHomeVideo">
        <source src="../video/bubblingBeer.mp4" type="video/mp4">
    </video>

    <!-- div containing sign up -->
    <div id="signUpDiv">
        <h1 id="signUp">Sign Up</h1><br>
        <form>
            <label>First Name:
                <input type="text" id="fname"><br><br>
            </label><br>
            <label>Last Name:
                <input type="text" id="lname"><br><br>
            </label><br>
            <label>Email:
                <input type="text" id="email"><br><br>
            </label><br>
            <label>State:
                <input type="text" id="state"><br><br>
            </label><br>
            <label>City:
                <input type="text" id="city"><br><br>
            </label>
            <div id="buttonStyles">
                <button id="submitSignUp" type="button" class="btn btn-warning">Submit</button>
            </div><br>
        </form>
    </div>
</body>
</html>