#mobileHomeVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#loggedInDiv {
    position: relative;
    border-radius: 25px;
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 20px;
    z-index: 1;
    box-shadow: 5px 5px 10px black;
    background-color: lightgray;
    color: black;
    text-align: center;
}

img {
    width: 50%;
}

.menuItem {
    background-color: goldenrod;
    width: 50%;
    position: relative;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}